# Server Configuration
PORT=8000
NODE_ENV=development

# PostgreSQL Configuration
PGHOST=localhost
PGPORT=5432
PGUSER=postgres
PGPASSWOaRD=postgres
PGNAME=ggregator_db

# Redis Configuration
REDIS_HOST=localhost
REDIS_PORT=6379
CACHE_TTL=300

# Authentication Token for Manual Refresh
REFRESH_TOKEN=secret123
